fastapi
uvicorn[standard]
python-multipart
PyMuPDF
nltk
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
networkx
scikit-learn
transformers
torch
sentencepiece
rouge-score
pytesseract
pdf2image
opencv-python-headless
reportlab
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
